body {
    font-family: verdana;
}
*{
    margin: 0;
    padding: 0;
}
header, footer{
    position: absolute;
    width: 100%;
}
header{
    height: 7vh;
    background-color: rgb(255, 255, 255);
    color: white;
}
footer{
    height: 10vh;
    background-color: black;
    bottom: 0;
    color: white;
}
footer h2{
    position: absolute;
    left: 15%;
}
header h1{
    position: absolute;
    left: 5%;
    bottom:30%
}
h1 { font-size: 15pt;}
.main{
    width: 100%;
    background-color: rgb(38, 64, 136);
    height: 13vh;
}
.gmail-icon{
    color: black;
    transition: color 1s;
    position: absolute;

}
.gmail-icon:hover{
    color: rgb(80, 83, 97);
    
}
.btn{
    font-size: 20px;
    background-color: rgb(214, 223, 231);
    border-radius: 1em;
    font-family: 'Raedex Pro', sans-serif;
    padding: 0.25em 0.5em;
    margin: 0.25em;
    border: none;
    outline: none;
    float: right;
    cursor: pointer;
    transition: 1s;
    /* cursor: pointer used to make yoru mouse turn into pointer when it is on the button */
}
.btn:hover{
    font-size: 23px;
    background-color: rgb(196, 206, 214);
}