body {
    font-family: verdana;
}
*{
    margin: 0;
    padding: 0;
}
header, footer{
    width: 100%;
}
header{
    position: relative;
    height: 7vh;
    background-color: rgb(255, 255, 255);
    color: white;
    top: 0px;
    left: 0;
}
footer{
    position: absolute;
    height: 20vh;
    background-color: black;
    bottom: 0;
    color: white;
    overflow: hidden;
}
.img{
    width: 100%;
}
footer h2{
    position: absolute;
    right: 5%;
    bottom: 10%;
    font-family: 'Raedex Pro', sans-serif;
}
h2 {font-size: 15px;}
header h1{
    position: absolute;
    left: 5%;
    bottom:30%
}
h1 { font-size: 15pt;}
.main{
    width: 100%;
    background-color: rgb(38, 64, 136);
    height: 4vh;
}
.gmail-icon{
    color: black;
    transition: color 1s;
    position: absolute;
    left: 64%;
    top: 1.75%;
}
.gmail-icon:hover{
    color: rgb(80, 83, 97);  
}
.btn{
    font-size: 20px;
    background-color: rgb(214, 223, 231);
    border-radius: 1em;
    font-family: 'Raedex Pro', sans-serif;
    padding: 0.25em 0.5em;
    margin: 0.25em;
    border: none;
    outline: none;
    float: right;
    margin-right: 15%;
    cursor: pointer;
    transition: 1s;
    margin-top: 16px;
    /* cursor: pointer used to make yoru mouse turn into pointer when it is on the button */
}
.btn:hover{
    font-size: 21px;
    background-color: rgb(196, 206, 214);
}

ul li{
    display: inline-block;
    top: 25%;
    margin-left: 62px;
    position: static;
    
    text-decoration: none;
    
}
ul li a{
    color: white;
    text-decoration: none;
    font-family: Arial;
    font-size: 20px;
    transition: 1s;
}
ul li a:hover{
    color:azure;
}
