body {
    font-family: verdana;
}
*{
    margin: 0;
    padding: 0;
}
header, footer{
    width: 100%;
}
header{
    position: relative;
    height: 4.2vh;
    background-color: rgb(255, 255, 255);
    background-color: rgb(255, 197, 33);
    top: 0px;
    left: 0;
}
footer{
    position: absolute;
    height: 20vh;
    bottom: 0;
    color: white;
    background-color:  rgb(46, 54, 99);
}
footer h2{
    position: absolute;
    right: 5%;
    bottom: 10%;
    font-family: 'Raedex Pro', sans-serif;
}
footer h2 {font-size: 15px;}
header h1{
    position: absolute;
    left: 5%;
    bottom: 25%;
    color: white;
    font-family: 'Arial';
}
header h1 { font-size: 15pt;}
.main{
    width: 75%;
    margin: auto;
    /*makes it so that its centered in the middle */
    background-color: rgb(40, 45, 75);
    height: 6vh;
    top: 50%;
    
}
.gmail-icon{
    color: rgb(255, 255, 255);
    transition: color 1s;
    position: absolute;
    left: 84%;
    top: 10%;
}
.msg-icon{
    color: rgb(255, 255, 255);
    transition: color 1s;
    position: absolute;
    left: 76.5%;
    top: 10%;
}
.phone-icon{
    color: rgb(255, 255, 255);
    transition: color 1s;
    position: absolute;
    left: 80%;
    top: 10%;
}

/* .btn{
    font-size: 16px;
    background-color: rgb(20, 34, 46);
    border-radius: 1em;
    font-family: 'Raedex Pro', sans-serif;
    padding: 0.25em 0.5em;
    margin: 0.25em;
    border: none;
    outline: none;
    float: right;
    margin-right: 15%;
    cursor: pointer;
    transition: 1s;
    margin-top: 7px;
    color: white;
    /* cursor: pointer used to make yoru mouse turn into pointer when it is on the button */
/*}

.btn:hover{
    background-color: rgb(37, 56, 73);
} */

nav{
    flex: 1;
    text-align: center;
}
nav ul li{
    display: inline-block;
    top: 25%;
    margin-left: 100px;
    position: static;
    list-style: none;
    text-decoration: none; 
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-family: Arial;
    font-size: 20px;
    transition: 1s;
}
nav ul li a .btn2{
    font-size: 16px;
    background-color: rgb(255, 197, 33);
    border-radius: 0.1em;
    padding: 0.75em 1.25em;
    margin: 0.25em;
    border: none;
    color: white;
    cursor: pointer;
}
ul li a:hover{
    color:azure;
}
.container{
    background-color: rgb(0, 0, 0);
    width: 50%;
    opacity: 50%;
    margin-top: 10%;
    height: 30vh;
    text-align: left;
}
.text{
    color: rgb(255, 255, 255);
    font-family: 'Arial';
    width: 28%;
    margin-left: 10px;
    margin-top: 10px;
    position: absolute;
}
.text h1{
    font-size: 40px;
    line-height: 50px;
}
.text p{
    font-size: 15px;
    margin-top: 10px;
    line-height: 30px;
}
.btn{
    font-size: 16px;
    background-color: rgb(255, 197, 33);
    border-radius: 0.1em;
    padding: 0.75em 1.25em;
    margin: 0.25em;
    border: none;
    color: white;
    cursor: pointer;
    position: absolute;
    margin-top: -3.5%;
    margin-left: 0.5%;
}
